Repository RusselYost/FHEFlightBooking: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, solhint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.sol": [
    "solhint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

docs: update README.md.backup documentation
  README.md.backup
Due: none

feat: add new features in ConfidentialFlightBooking (34 files)
  ConfidentialFlightBooking/Live Demo Video.mp4
  ConfidentialFlightBooking/On-Chain Transaction Evidence.png
  ConfidentialFlightBooking/README-REACT.md
  ConfidentialFlightBooking/README.md
  ConfidentialFlightBooking/contracts/ConfidentialFlightBooking.sol
  ConfidentialFlightBooking/index.html
  ConfidentialFlightBooking/package.json
  ConfidentialFlightBooking/public/legacy/app.js
  ConfidentialFlightBooking/public/legacy/index.html
  ConfidentialFlightBooking/public/robots.txt
  ConfidentialFlightBooking/src/App.css
  ConfidentialFlightBooking/src/App.tsx
  ConfidentialFlightBooking/src/components/AddFlightForm.tsx
  ConfidentialFlightBooking/src/components/BookFlightForm.tsx
  ConfidentialFlightBooking/src/components/BookingCard.tsx
  ConfidentialFlightBooking/src/components/BookingList.tsx
  ConfidentialFlightBooking/src/components/ConnectionStatus.tsx
  ConfidentialFlightBooking/src/components/FlightCard.tsx
  ConfidentialFlightBooking/src/components/FlightList.tsx
  ConfidentialFlightBooking/src/components/Header.tsx
  ConfidentialFlightBooking/src/components/Message.tsx
  ConfidentialFlightBooking/src/components/PrivacyNotice.tsx
  ConfidentialFlightBooking/src/constants/contract.ts
  ConfidentialFlightBooking/src/hooks/useBookings.ts
  ConfidentialFlightBooking/src/hooks/useFlights.ts
  ConfidentialFlightBooking/src/hooks/useWallet.ts
  ConfidentialFlightBooking/src/main.tsx
  ConfidentialFlightBooking/src/types/index.ts
  ConfidentialFlightBooking/src/vite-env.d.ts
  ConfidentialFlightBooking/tsconfig.json
  ConfidentialFlightBooking/tsconfig.node.json
  ConfidentialFlightBooking/vercel.json
  ConfidentialFlightBooking/vite.config.ts
  README.md
Due: eslint --fix, prettier --write, solhint --fix

Add files via upload
  API_DOCUMENTATION.md
  ARCHITECTURE.md
  PROJECT_SUMMARY.md
  contracts/ConfidentialFlightBooking.sol
  contracts/PrivateMarketplace.sol
Due: prettier --write, solhint --fix

Add files via upload
  README.md
Due: prettier --write

Delete README.md
  README.md
Due: prettier --write
