Repository RusselYost/FHEFlightBooking: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, solhint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.sol": [
    "solhint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

chore: chore: create .prettierignore
  .prettierignore
Due: none

chore: update .prettierrc
  .prettierrc
Due: none

chore: chore: create .solhint
  .solhint
Due: none

chore: chore: create .solhintignore
  .solhintignore
Due: none

chore: update solidity-files-cache.json
  cache/solidity-files-cache.json
Due: prettier --write

chore: chore: contracts
  contracts/ConfidentialFlightBooking.sol
  contracts/PauserSet.sol
Due: prettier --write, solhint --fix

chore: update configuration
  fhevmTemp/@fhevm/solidity/config/ZamaConfig.sol
  fhevmTemp/@zama-fhe/oracle-solidity/address/ZamaOracleAddress.sol
  fhevmTemp/precompiled-fhevm-core-contracts-addresses.json
  fhevmTemp/precompiled-fhevm-host-contracts-addresses.json
Due: prettier --write, solhint --fix

chore: add assets
  public/app.js
  public/config.example.js
  public/config.js
  public/index.html
  public/robots.txt
Due: eslint --fix, prettier --write

feat: add new features in frontend (25 files)
  frontend/README.md
  frontend/UI_UX_UPGRADE.md
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/app/providers.tsx
  frontend/components/AddFlightForm.tsx
  frontend/components/FlightList.tsx
  frontend/components/TransactionHistory.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/dialog.tsx
  frontend/components/ui/tabs.tsx
  frontend/components/ui/toast.tsx
  frontend/config/contracts.ts
  frontend/config/wagmi.ts
  frontend/hooks/useContract.ts
  frontend/hooks/useTransactionHistory.ts
  frontend/lib/utils.ts
  frontend/next-env.d.ts
  frontend/next.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.mjs
  frontend/tailwind.config.ts
  frontend/tsconfig.json
Due: eslint --fix, prettier --write

feat: add new features in scripts with tests (7 files)
  scripts/deploy-pauser.cjs
  scripts/deploy-simple.cjs
  scripts/deploy.cjs
  scripts/interact.cjs
  scripts/simulate.cjs
  scripts/test-status.cjs
  scripts/verify.cjs
Due: none

test: add new tests
  test/ConfidentialFlightBooking.test.cjs
Due: none

feat: add new features: contracts.example
  src/config/contracts.example.ts
Due: eslint --fix, prettier --write

docs: update CI_CD_DOCUMENTATION documentation
  CI_CD_DOCUMENTATION.md
Due: prettier --write

docs: update CI_CD_IMPLEMENTATION_SUMMARY documentation
  CI_CD_IMPLEMENTATION_SUMMARY.md
Due: prettier --write

chore: update codecov.yml
  codecov.yml
Due: prettier --write

docs: update DEPLOYMENT_CHECKLIST documentation
  DEPLOYMENT_CHECKLIST.md
Due: prettier --write

docs: update CONTRACT_ADDRESSES documentation
  CONTRACT_ADDRESSES.md
Due: prettier --write

docs: update DEPLOYMENT_GUIDE documentation
  DEPLOYMENT_GUIDE.md
Due: prettier --write

docs: update DEPLOYMENT_SUCCESS documentation
  DEPLOYMENT_SUCCESS.md
Due: prettier --write

docs: update FRONTEND_SETUP documentation
  FRONTEND_SETUP.md
Due: prettier --write

docs: update FRONTEND_COMPLETE documentation
  FRONTEND_COMPLETE.md
Due: prettier --write

feat: add new features
  hardhat.config.cts
  hardhat.config.deploy.cts
  hardhat.config.js
Due: eslint --fix, prettier --write

docs: update IMPLEMENTATION_SUMMARY documentation
  IMPLEMENTATION_SUMMARY.md
Due: prettier --write

docs: update LICENSE documentation
  LICENSE
Due: none

docs: update MIGRATION_GUIDE documentation
  MIGRATION_GUIDE.md
Due: prettier --write

chore: update configuration
  package-lock.json
  package.json
Due: prettier --write

docs: update QUICK_REFERENCE documentation
  QUICK_REFERENCE.md
Due: prettier --write

docs: update README
  README.md
Due: prettier --write

docs: update README_OLD documentation
  README_OLD.md
Due: prettier --write

docs: update SCRIPTS_REFERENCE documentation
  SCRIPTS_REFERENCE.md
Due: prettier --write

docs: update SECURITY_PERFORMANCE_OPTIMIZATION documentation
  SECURITY_PERFORMANCE_OPTIMIZATION.md
Due: prettier --write

docs: update SUMMARY documentation
  SUMMARY.md
Due: prettier --write

docs: update TESTING documentation
  TESTING.md
Due: prettier --write

build: update tsconfig.json
  tsconfig.json
  vercel.json
Due: prettier --write

docs: update UPGRADE_NOTES documentation
  UPGRADE_NOTES.md
Due: prettier --write

chore: update assets
  contracts/ConfidentialFlightBooking.sol
  demo.mp4
  public/app.js
  vercel.json
Due: eslint --fix, prettier --write, solhint --fix
